body{
    background: #e5e5e5;
    text-align:center;
    font-family: "Didot", serif;
    margin-left:0px;
    margin-right:0px;
}

.title{
    font-weight: 900;
    width:300px;
}

a:link, a:visited{
    color:black;
}

input[type="submit"]{
    background-color: white;
    border-color:black;
    font-family: "Didot", serif;
    padding: 5px;
    margin-top:5px;
}

input[type="submit"]:hover{
    background-color:black;
    border-color:white;
    color:white;
}

.story,.comment{
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items:center;
    margin: 20px;
}
.story form,.comment form{
    margin-left: 20px;
    margin-right: 20px;
}
.comment p{
    margin-left: 20px;
    margin-right: 20px;
}
.add, .edit{
    display:flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
}

.add{
    margin-left:auto;
    margin-right:auto;
}

.username{
    font-weight:900;
}

.loginform{
    display:flex;
    flex-direction: column;
    width:200px;
    margin-left:auto;
    margin-right:auto;
}

nav{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    background-color:white;
    margin-bottom: 10px;
    height:50px;
    align-items: center;
}
nav input[type='submit']{
    margin-top:0px;
    border-color: transparent;
}
nav input[type='submit']:hover{
    border-color:transparent;
    height:50px;
    
}

